body {
  background-color: yellow;
}

h1 {
  color: black;
  margin-left: 20px;
  font-family: Helvetica, Arial;
}

h2 {
  color: red;
  margin-left: 20px;
  font-family: Helvetica, Arial;
}

p {
  color: black;
  margin-left: 20px;
  font-family:Helvetica, Arial;
}
a:link {
  text-decoration: none;
  color: red;
}

a:visited {
  text-decoration: none;
    color: red;

}

a:hover {
  text-decoration: underline;
    color: red;

}

a:active {
  text-decoration: underline;
    color: red;

}
