body {
  background-color: red;
}

h1 {
  color: yellow;
  margin-left: 20px;
  font-family: Futura, Helvetica, Arial;
}

p {
  color: yellow;
  margin-left: 20px;
  font-family:"Courier New", Helvetica, Arial;
}
